@import url("mini-nord.min.css");

*{
	padding: 0!Important;
	margin: 0!Important;
	font-family: "MArvel","Arial";
}

h1,h2{
	padding-top: 5px!Important;
}

.bg-dark{
	background-color: #1c1c1c;
	color: #cccc;
}
.corner{
	width: 50px;
	height: 50px;
	position: relative;
}

.left{
	position: absolute;
	left: 0;
}

.right{
	position: absolute;
	right: 0;
}

.mini_footer_container, .mini_header_container{
	display: flex;
	flex-direction: row;
}

.mini_footer_container .corner, .mini_header_container .corner {
	width: 50px;
	height: 50px;
}

.mini_footer_container .extension, .mini_header_container .extension{
	width: 100%;
	height: 50px;
}

.content-container{
	position: relative;
	min-height: 50vh;
	flex:1;
}

.content-flex-column{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 100%;
}

.content-flex-column.space-between{
	justify-content: space-between;
}

.content-right{
	text-align: right;
	padding-right: 40px!Important;
	padding-left: 40px!Important;
}


.content-right-black{
	text-align: right;
}


.certificates_cards .item{
	text-align: center;
	padding: 0px 1px 10px 1px!Important;
}

.certificates_cards .item .capacitation_description{
	text-align: center;
	font-size: 10px;
}

.certificates_cards .item .capacitation_description p{
	font-size: 11px!Important;
}

.fs10px{
	font-size: 11px!Important;
}

.fs30px{
	font-size: 30px!Important;
	padding-top: 10px;
}

.content-right-black h2{
	text-align: right;
	padding-right: initial!Important;
}

.content-left{
	text-align: left;
	padding-left: 25px!Important;	
}

.section{
	position: relative;
}

.section .presentation{
	text-align: center;
	height: 55vh;
}

.corner-left{
	display: block;
	position: absolute;
	left: -50px;
	top:0;
}

.corner-right{
	display: block;
	position: absolute;
	right: -50px;
	top:0;
}

.projects_cards img{
	width: 98%;
	margin: 0 auto;
}

.percent_background{
	background-color: #88c0d0;
	color: #000;
}

.percent_background.w100{ width: 100%; }
.percent_background.w95{ width: 95%; }
.percent_background.w90{ width: 90%; }
.percent_background.w85{ width: 85%; }
.percent_background.w80{ width: 80%; }
.percent_background.w75{ width: 75%; }
.percent_background.w70{ width: 70%; }
.percent_background.w65{ width: 65%; }
.percent_background.w60{ width: 60%; }
.percent_background.w55{ width: 55%; }
.percent_background.w50{ width: 50%; }